<!DOCTYPE HTML>
<html>
<head>
<title>مرجع تخصصی برنامه نویسان</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/menu.css" rel="stylesheet" type="text/css" media="all"/>
<!--<link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>-->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script> 
<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/nav-hover.js"></script>
<script type="text/javascript">
  $(document).ready(function($){
    $('#dc_mega-menu-orange').dcMegaMenu({rowItems:'4',speed:'fast',effect:'fade'});
  });
</script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="header_top">
			  <div class="header_top_left">
			    <div class="search_box">
                    <form>
				    	<input type="text" value="جستجوی محصولات"
                            onfocus="this.value = '';"
 onblur="if (this.value == '') { this.value = 'جستجوی محصولات'; }"><input type="submit" value="جستجو">
				    </form>
			    </div>
			    <!--<div class="shopping_cart">-->
					<!--<div class="cart">-->
						<!--<a href="#" title="View my shopping cart" rel="nofollow">-->
							<!--<strong class="opencart"> </strong>-->
							<!--<span class="cart_title">سبد خرید</span>-->
									<!--<span class="no_product">(خالی)</span>-->
							<!--</a>-->
						<!--</div>-->
			      <!--</div>-->
		   <!--<div class="login">-->
		   	   <!--<span><a href="login"><img src="images/login.png" alt="" title="login"/></a></span>-->
		   <!--</div>-->
		 <div class="clear"></div>
	   </div>
	 <div class="clear"></div>
   </div>
        <div class="menu">
            <ul id="dc_mega-menu-orange" class="dc_mm-orange">
                <li><a href="/">صفحه اصلی</a></li>
                <li>
                    <a href="javascript:void(0)">محصولات</a>
                    <ul>
                        <li>
                            <a>گوشی های تلفن همراه</a>
                            <ul>
                                <li><a href="preview-2.html">Apple</a></li>
                                <li><a href="preview-3.html">Samsung</a></li>
                                <li><a href="#">LG</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>مانیتور</a>
                            <ul>
                                <li><a href="preview.html">Asus</a></li>
                                <li><a href="preview-5.html">Samsung</a></li>
                                <li><a href="preview-3.html">LG</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>لپ تاپ</a>
                            <ul>
                                <li><a href="preview-2.html">Apple</a></li>
                                <li><a href="preview-5.html">Asus</a></li>
                                <li><a href="#">Lenovo</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="about.html">درباره ما</a></li>
                <!--   <li><a href="#">تحویل</a></li>       -->
                <li><a href="faq.html">سوالات متداول</a></li>
                <li><a href="contact.html">تماس با ما</a> </li>
                <div class="clear"></div>
            </ul>
    </div>
 </div>
 <div class="main">
    <div class="content">
    	 <div class="login_panel">
        	<h3>مشتریان موجود</h3>
        	<p>با استفاده از فرم زیر وارد شوید.</p>
				<form  method="post" action="login" id="member">
                	<input name="username" type="text" value="نام" class="field" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'نام'; }">
                    <input name="password" type="password" value="رمز عبور" class="field" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'رمز عبور'; }">
				<div class="buttons"><div><button class="grey" type="submit">ورود به برنامه</button></div></div>
			</form>
         </div>
    	<div class="register_account">
    		<h3>ثبت نام</h3>
    		<form action="/enroll" method="post">
		   			 <table>
		   				<tbody>
                            <tr>
                                <td>
                                    <div><input name="first_name" type="text" value="نام" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'نام'; }" ></div>
		    			<div><input name = "last_name" type="text" value="نام خانوادگی" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'نام خانوادگی'; }"></div>
		    			<div><input name="username" type="text" value="نام کاربری" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'نام کاربری'; }"></div>
		    			<div><input name="password" type="text" value="کلمه رمز عبور" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'کلمه رمز عبور'; }"></div>
		    			 </td>
		    			<td>
                            <div>
                            <input name="email" type="text" value="ایمیل" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'ایمیل'; }"></div>
							<input name="address" type="text" value="آدرس" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'آدرس'; }"></div>
		           <div>
                       <input name="address" type="text" value="شماره تلفن" onfocus="this.value = '';" onblur="    if (this.value == '') { this.value = 'شماره تلفن'; }">
		          </div>
		    	</td>
		    </tr> 
		    </tbody></table> 
		   <div class="search"><div><button class="grey">ایجاد حساب</button></div></div>
		    <p class="terms">با کلیک کردن بر روی 'ایجاد حساب شما با <a href="#">شرایط و مقررات</a>توافق کرده اید.</p>
		    <div class="clear"></div>
		    </form>
    	</div>  	
       <div class="clear"></div>
    </div>
 </div>
</div>
    <div class="footer">
        <div class="wrapper">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>اطلاعات</h4>
                    <ul>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#"><span>جستجو</span></a></li>
                        <li><a href="#"><span>تماس با ما</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>چرا خرید از ما</h4>
                    <ul>
                        <li><a href="about.html">درباره ما</a></li>
                        <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                        <li><a href="contact.html"><span>نقشه سایت</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>حساب من</h4>
                    <ul>
                        <li><a href="contact.html">ورود به حساب کاربری</a></li>
                        <li><a href="index.html">مشاهده سبد خرید</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>تماس با ما</h4>
                    <ul>
                        <li><span>0915-8020410</span></li>
                        <li><span>esi.hadizadeh@outlook.com</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>دنبال کنید ما را در</h4>
                        <ul>
                            <li class="facebook"><a href="#" target="_blank"> </a></li>
                            <li class="twitter"><a href="#" target="_blank"> </a></li>
                            <li class="googleplus"><a href="#" target="_blank"> </a></li>
                            <li class="contact"><a href="#" target="_blank"> </a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy_left">
                <p>پروژه دانشجویی فروشگاه مجازی با زبان Java Script</p>
            </div>
        </div>
    </div>     
    <script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
	  			containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
	 		};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>


